/* printing */
@media all {
	/*.page-break	{ display: none; }*/
}

@media print {
    body {
		font-family: Georgia, serif;
        font-size: 12px;
		width: 600px;
		margin: 0mm auto 0mm auto;
    }

	.page-break {
		page-break-after: always;
	}

	.click-link {
		display: none;
	}
	.show-link {
		display: inline;
	}

	nav {
		display: none;
	}

	h1 {
		display: none;
		/*font-size: 24px;*/
	}

	h2 {
		color: #000;
		font-size: 24px;
		page-break-after: avoid !important;
	}

	h3 {
		font-size: 16px;
		line-height: 20px;
		margin: 14px 0px 10px 0px;
	}

	h4 {
		font-weight: 700;
	}

	#letter, #exmaples {
		font-size: 14px;
	}

	.experience {
		margin-top: 0px;
	}

	.experience-heading, .consultant-experience-heading {
		/*margin-bottom: 0px;*/
	}

	.experience.fullcv {
		display:none;
	}

	.tech {
	    font-size: 10px;
	}

	.badge {
		background-color: #fff;
		border: 1px #ccc dashed;
	}

	p {
		margin-top: 10px;
		margin-bottom: 10px;

	}

	/*.experience > last-of-type {
		margin-bottom: 0px;
	}*/

    /*article {
        page-break-after: always;
		margin-bottom: 0px;
    }
*/
	article:last-of-type {
		page-break-after: avoid;
		margin-bottom: 0px;
	}

	section {
		page-break-inside: avoid;
	}

	h4 {
		page-break-after: avoid;
	}


	img {
		max-width: 100%;
	}

	figure {
		margin-top: 20px;
	}


}
