/* printing */
@media all {
	.page-break	{ display: none; }
}

@media print {
    body {
		font-family: Georgia, serif;
        font-size: 12px;
		width: 550px;
		margin: 20mm auto;
    }

	.click-link {
		display: none;
	}
	.show-link {
		display: inline;
	}

	nav {
		display: none;
	}

	h1 {
		font-size: 36px;
	}

	h2 {
		color: #000;
		font-size: 24px;
		page-break-after: avoid !important;
	}

	h3 {
		font-size: 18px;
	}

	h4 {
		font-weight: 700;
	}

	#letter, #exmaples {
		font-size: 14px;
	}

	#resume h3 {
		margin: 0px;
		font-size: 20px;
	}

	.experience {
		margin-top: 10px;
	}

    article {
        page-break-after: always;
		margin-bottom: 0px;
    }

	article:last-of-type {
		page-break-after: avoid;
	}

	section {
		page-break-inside: avoid;
	}

	h4 {
		page-break-after: avoid;
	}


	img {
		max-width: 100%;
	}

	figure {
		margin-top: 20px;
	}
}
