



/* overview */
/*html { font-family: 'IM Fell Great Primer', serif; }*/
/*html { font-family: 'Times', serif;}*/
body { width: 40em;
       margin: 0 auto;
       padding: 0;
       font-family: 'Karla', sans-serif;
       font-weight: 400;
       color: #282b34;
}

.show-link {
    display:none;
}
.click-link {
    display:inline;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    color: #D87B29;
}

h3 {
    font-size: 28px;
}

ol {
    list-style-type: upper-roman;
}

ol ol {
    list-style-type: lower-latin;
}

article {
    margin-bottom: 60px;
}

article img {
   max-width: 100%;
}


figcaption {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
}

/* letter */
section#letter p {
    font-size: 18px
}

/* resume */

#resume h3 {
    margin-top: 40px;
    font-size: 28px;
}

.experience {
    margin-top: 40px;
    padding-left: 20px;
}

.experience-heading {
    margin-left: -20px;
    display: flex;
    align-content: space-around;
    width: 100%;
    font-weight: bold;
}

.experience-position {
    margin-left: 0px;
    margin-right: auto;
}

.experience-duration {
    margin-left: auto;
    margin-right: 0px;
}


/* examples */

figure {
    margin: 40px 0px 0px;
}

figure img {
    border: 1px solid #999;
}

#examples section {
    margin-bottom: 60px;
}
