body { width: 40em;
       margin: 0 auto;
       padding: 0;
       /*font-family: Times, serif;*/
       font-family: Georgia, serif;

       font-weight: 400;
       font-size: 16px;
}

.show-link {
    display:none;
}
.click-link {
    display:inline;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    color: #D87B29;
}

h3 {
    font-size: 28px;
}

ol {
    list-style-type: upper-roman;
    font-size: 16px;
}

ol ol {
    list-style-type: lower-latin;
}

article {
    margin-bottom: 60px;
}

article img {
   max-width: 100%;
}


figcaption {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
}

/* letter */
/*section#letter p {
    font-size: 40px
}*/

/* resume */

table.tools  td{
    border-collapse: collapse;
    border: 0px;
    padding-right: 20px;
    margin: 0px;
    vertical-align: top;
}

table.tools th{
    text-align: left;
    vertical-align: top;
}

.experience {
    margin-top: 40px;
    padding-left: 20px;
}

.consulting {
    margin-top: 1em;
    padding-left: 20px;
}

.experience-heading {
    margin-left: -20px;
    display: flex;
    align-content: space-around;
    width: 103%;
    font-weight: bold;
}

.consultant-experience-heading {
    margin-left: -20px;
    display: flex;
    align-content: space-around;
    font-weight: bold;
}

.experience-position {
    margin-left: 0px;
    margin-right: auto;
}

.experience-duration {
    margin-left: auto;
    margin-right: 0px;
}

dl {
    display: flex;
    align-content: space-around;

}

dt {
    width: 400px;
    margin-left: 0px;
    margin-right: auto;
}
dd  {
    margin-left: auto;
    margin-right: 0px;
    clear: left;
}

/* badges */
.tech {
    font-size: 12px;
    margin-top: 0px;
    /*margin: 0px 0px 12px;*/
}
.badge {
    display:inline-block;
    background-color: #cef;
    border-radius: 3px;
    border: 1px dotted #333;
    /*border-left: 4px solid;*/
    padding: .25em .25em .25em;
    margin: 0px;
    margin-right: 4px;
}


/* examples */

figure {
    margin: 40px 0px 0px;
}

figure img {
    border: 1px solid #999;
}

#examples section {
    margin-bottom: 60px;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px) {
      body {
          width: 25em;
      }

      nav, article {
          margin-left: 1em;
          margin-right: 1em;
      }

      p {
          font-size: 24px;
      }

  }
